#spree-header {
  background-color: #50c473;
}

.header-row {
  padding: 2rem 0;
}

a.logo-link {
  text-decoration: none;
}

.logo {
  width: 10rem;
}

#logo-header {
  display: inline;
  color: yellow;
  font-size: 5rem;
}
